@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'), url(https://fonts.gstatic.com/s/nunito/v10/XRXW3I6Li01BKofA-seUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v10/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v10/XRXW3I6Li01BKofAjsOUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'), url(https://fonts.gstatic.com/s/nunito/v10/XRXW3I6Li01BKofAksCUYevN.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Nunito', sans-serif;
  color: black;
  max-width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito', sans-serif;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header {
  background-image: url(/resources/images/photography-accessories.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50rem;
  color: #D8D8D8;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header div:nth-child(1) {
    order: 1;
  }
  header div:nth-child(3) {
    order: 3;
  }
}
header input {
  border-radius: 4px;
  border: 0.5px solid #D8D8D8;
  background: #D8D8D8;
  opacity: 0.5;
  padding: 0.5rem;
}
header .logo_svg {
  width: 5rem;
  height: 5rem;
}
header .nav ul {
  display: flex;
  flex-wrap: wrap;
}
header .nav ul li {
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
header .nav ul li:hover {
  color: #121312;
  transform: scale(1.3);
}
@media (max-width: 500px) {
  header .nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 0;
    left: -100px;
    transition: left 1s ease-in;
  }
}
header .nav ul.open_menu {
  display: block;
  left: 40vw;
  top: 80px;
  text-align: center;
  background: rgba(100, 98, 98, 0.52);
}
header .nav .hamburger_icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 3;
}
header .nav .hamburger_icon.active-one .hamburger_menu {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
header .nav .hamburger_icon.active-one .hamburger_menu:before {
  transform: rotate(45deg);
}
header .nav .hamburger_icon.active-one .hamburger_menu:after {
  top: 10px;
  transform: rotate(135deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
header .nav .hamburger_icon .hamburger_menu {
  width: 1.5rem;
  height: 1px;
  background: white;
  position: relative;
  display: none;
}
header .nav .hamburger_icon .hamburger_menu::after,
header .nav .hamburger_icon .hamburger_menu::before {
  content: "";
  width: 2rem;
  height: 1px;
  background: white;
  position: absolute;
  transition: 0.5s;
}
header .nav .hamburger_icon .hamburger_menu:before {
  top: 10px;
}
header .nav .hamburger_icon .hamburger_menu:after {
  top: 20px;
}
@media (max-width: 500px) {
  header .nav .hamburger_icon .hamburger_menu {
    display: block;
  }
}
